<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--relative link creation-->
    <h1>Welcome to relative URLS</h1>

    <a href="{% url 'basic_app:order' %}">the order page</a><h1>

    </h1>
    <a href="{% url 'admin:index' %}">link to admin</a><h2>

    </h2>
    <a href="{% url 'index' %}">link to index</a>
    
</body>
</html>